@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DION STATE UNIVERSITY</h1>
    <p class="lead">DSU is a school for the top 1% of math students in the United States.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Students", "Index", "Students")</h2>
        <p>
            If you would like to enroll in DSU click this button here.  The enrollment cost is $200 per semester and will allow
            you to take up to 18 credit hours.  You will need to enter your first and last name.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>